<div>  
    <span>Number : {{value1 | currency}}</span>      
    <br /><br /> 
    <span>Date : {{dt1}}</span>  
    <br /><br />  
    <span>Array : {{array1[0]}}</span>
    <br/><br/>
    <span>Array : {{array1[1]}}</span>
    <br/><br/>
    <span>Array : {{array1[2]}}</span>
    <br/><br/>
    <span>Status is {{status}}</span>  
    <br /><br />  
    <span>{{status ? "This is correct status" :"This is false status"}}</span>  
    <br /><br />  
    <span>{{returnString()}}</span>  
</div> 

<div>  
    <h2>Demo of Event Binding in Angular 8</h2>  
    <input type="button" value="Click" class="btn-block" (click)="showAlert()" />  
    <br /><br />  
    <input type="button" value="Mouse Enter" class="btn-block" (mouseenter)="showAlert()" />  
</div>